.furniture-item-container {
  max-width: 70%;
  border-radius: 1rem;
  /* display: flex;
  flex-direction: column; */
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

.furniture-item {
  border-radius: 2rem;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  background-color: #f2f2f2;
  border-radius: 2rem;
  flex-direction: column;
  height: 70vh;
}

.descr-container {
  height: 60%;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: flex-start;
  padding: 2rem;
  gap: 0.8rem;
}

.descr-container .descr-txt {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  margin-bottom: 2rem;
  font-size: 1.6rem;
}

.descr-container p:first-of-type {
  text-transform: uppercase;
  font-family: poppins-semibold;
  font-size: 1.6rem;
  color: #969696;
}

.descr-container p:nth-child(3) {
  font-size: 1.8rem;
  font-family: poppins-semibold;
}
.descr-container p:last-of-type {
  font-family: poppins-bold;
  font-size: 1.8rem;
  color: #e34a4a;
}
.furniture-img-container {
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 2rem;
  background-size: cover;
}
.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  gap: 1rem;
}

.furniture-item a {
  width: 100%;
  height: 100%;
}
@media (max-width: 991.98px) {
  .furniture-item-container {
    grid-template-columns: repeat(1, 1fr);
    max-width: 100%;
  }
  .furniture-img-container {
    height: 40vh;
  }
  .furniture-item {
    height: unset;
  }
}
