header {
  padding: 2rem 0rem;
}

header a:hover {
  color: black;
}

nav {
  display: flex;
  gap: 5rem;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 5rem;
}
nav a {
  display: flex;
  justify-content: center;
  align-items: center;
}

nav a button:hover {
  transform: scale(1.1);
}

nav a button {
  border-radius: 2rem;
  background-color: black;
  color: white;
  transition: all ease-in-out 50ms;
}

.dropbtn {
  cursor: pointer;
  font-family: poppins-regular;
  font-size: 2rem;
}
.dropbtn:hover {
  color: black;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;

  background-color: #f9f9f9;
  min-width: 25rem;
  z-index: 1;
  padding: 2rem;
}

.dropdown-content a {
  display: block;
  padding: 12px 16px;
  text-decoration: none;
  color: #333;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.login-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  position: relative;
  border-radius: 2rem;
  background-color: rgba(227, 150, 74, 0.238);
  color: #e3964a;
  border: none;
}
.login-img-useravatar {
  object-fit: cover;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 100%;
}
.login-container {
  display: flex;
  gap: 2rem;
  flex-direction: row;
}
.logout-btn {
  border-radius: 2rem;
  background-color: rgb(0, 0, 0);
  color: #ffffff;
  transition: all ease-in-out 50ms;
  border: none;
}
@media (max-width: 991.98px) {
  nav {
    flex-direction: column;
    gap: 2rem;
  }
  .dropdown-content {
    position: static;
  }
}
