.forgot-password-form-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  padding: 2.4rem;
  border-radius: 2rem;

  width: 30%;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
.forgot-password-container {
  background-color: #f2f2f2;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 2.4rem;
  border-radius: 2rem;
  gap: 2rem;
  margin-bottom: 1.6rem;
}
.forgot-password-form-container * {
  width: 100%;
}
.forgot-password-title-container button {
  background-color: unset;
  border: unset;
  width: 10rem;
  padding: 0;
  display: flex;
}
.sec-txt-box {
  display: none;
}
